body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60vh;
    width: 100vw;
    position: relative;
}

.blue-triangle {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 60vh solid rgb(0, 204, 255);
    position: absolute;
}

.portrait-div {
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 80%;
}

.portrait {
    display: flex;
    position: relative;
    height: 100%;
    width: 40%;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.about-me {
    height: 70%;
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

.about-me h1 {
    font-family: "Playfair Display", sans-serif, Arial;
}

.name {
    font-size: 5em;
    color: #f5f5dc;
    text-shadow: 0 0 6px rgb(0, 0, 0, 0.7);
    position: absolute;
    bottom: -15%;
}

.about-me p {
    font-family: "Roboto", sans-serif, Arial;
    font-size: 1.5em;
    line-height: 1.3;
    color: rgb(100, 100, 100);
}

.contacts-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.contacts-list a {
    text-decoration: none;
}

.contacts-list i,
.contacts-list img {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.projects {
    margin-left: 100px;
    margin-right: 100px;
}
.projects h1 {
    font-size: 3em;
    font-weight: 100;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.description {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 5px 20px;
}
.description h1 {
    font-family: "Playfair Display", sans-serif, Arial;
    font-size: 1.2em;
    font-weight: 400;
}
.description p {
    font-family: "Roboto", sans-serif, Arial;
    line-height: 1;
    color: rgb(100, 100, 100);
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 0;
}
.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six {
    width: 535px;
    height: 600px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

.project-one .screenshot,
.project-two .screenshot,
.project-three .screenshot,
.project-four .screenshot,
.project-five .screenshot,
.project-six .screenshot{
    width: 100%;
    height: 300px;
    color: white;
    font-family: "Playfair Display", sans-serif, Arial;
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-one .screenshot p,
.project-two .screenshot p,
.project-three .screenshot p,
.project-four .screenshot p,
.project-five .screenshot p,
.project-six .screenshot p {
    max-width: 200px;
    text-align: center;
}

.project-one .screenshot {
    background-color: darkred;
}
.project-two .screenshot {
    background-color: rgb(185, 129, 255);
}
.project-three .screenshot {
    background-color: olive;
}
.project-four .screenshot {
    background-color: violet;
}
.project-five .screenshot {
    background-color: orange;
}
.project-six .screenshot {
    background-color: skyblue;
}
.project-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.project-links a {
    text-decoration: none;
}
.project-links i,
.project-links img {
    font-size: 20px;
    height: 20px;
    width: 20px;
}